root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
ij_javascript_spaces_within_imports = true

[*.{js, jsx, ts, tsx, groovy, svg, html, css, scss, less, json, yml, yaml, md, java, properties, xml, gradle, txt}]
indent_size = 2
indent_style = space
ij_visual_guides = 80
